.sidebar{
    .sidebar-menu{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 12px;
        margin-top: 34px;
    }
    
    .sidebar-item{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 16px;

        svg{
            color: #333D47;
            width: 24px;
        }
        span{
            font-size: 16px;
            color: #333D47;
        }
    }

    .sidebar-list{
        width: 100%;
        display: flex;
        padding: 12px;
        border-radius: 10px;
        &:hover, &:active, &:focus{
            background: #F2F8FB;
            padding: 12px;
            border-radius: 10px;
        }
    }
    .sidebar-list-active{
        background: #F2F8FB;
        padding: 12px;
        border-radius: 10px;
    }
    .sidebar-profile-action{

        .chevron-right > svg{
            color: #333D47;
            width: 10px;
        }
    }
       
}