@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Jost:wght@200;300;400;500;600;700&family=Poppins:wght@200;300;400;500;600;700;800&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    font-family: 'Jost', sans-serif;
    font-family: 'Poppins', sans-serif;
}

.text-clr-primary{
    color: #003D66;
}
.text-clr-secondary{
    color: #29ABE2;
}
.bg-clr-primary{
    background: #003D66;
}
.bg-clr-secondary{
    background: #29ABE2;
}

.primary-button {
    width: 100%;
    background: #003D66;
    color: #fff;
    border: 1px solid transparent;
    outline: none;
    padding: 14px 48px;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    text-align: center;
    transition: all 0.2s ease-out;
}
.primary-button:hover{
    background: #05446F;
    transition: all 0.2s ease-in;
}
.secondary-button {
    width: 100%;
    background: transparent;
    color: #003D66;
    border: 1px solid #003D66;
    outline: none;
    padding: 14px 48px;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    text-align: center;
}
.profile-avatar{
    width: 42px;
    height: 42px;
    cursor: pointer;
    border-radius: 50%;
    transition: all 0.2s ease-out;
}
.profile-avatar:hover{
    filter: contrast(80%);
    transition: all 0.2s ease-in;
}