@import url('https://fonts.googleapis.com/css2?family=Jost:wght@200;300;400;500;600;700&family=Poppins:wght@200;300;400;500;600;700;800&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    font-family: 'Jost', sans-serif;
    font-family: 'Poppins', sans-serif;
}

.primary-button {
    width: 100%;
    background: #003D66;
    color: #fff;
    border: 1px solid transparent;
    outline: none;
    padding: 14px 48px;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    text-align: center;
    transition: all 0.2s ease-out;
}
.primary-button:hover{
    background: #05446F;
    transition: all 0.2s ease-in;
}
.secondary-button {
    width: 100%;
    background: transparent;
    color: #003D66;
    border: 1px solid #003D66;
    outline: none;
    padding: 14px 48px;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    text-align: center;
    transition: all 0.2s ease-out;
}
.secondary-button:hover{
    background: #003D66;
    color: #FFF;
    transition: all 0.2s ease-in;
}