.welcome-container {
    position: relative;
    overflow: hidden;
    background: #EBEBEB;

    .welcome-image {
        background-color: #003D66;
        display: flex;
        justify-content: center;
        height: 40%;
        z-index: 1;

        .welcome-illustration {
            height: 100%;
            width: 100%;
            padding-bottom: 20px;
        }
    }

    .welcome-content {
        background: #EBEBEB;
        height: 60%;
        z-index: 2;
        border-top-left-radius: 15% 20px;
        border-top-right-radius: 15% 20px;
        margin-top: -20px;
        padding: 18px;

        .welcome-info {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding-top: 30px;

            .welcome-logo {
                display: flex;
                flex-direction: column;
                align-items: center;
                margin-bottom: 28px;

                img {
                    width: 78px;
                }

                h1 {
                    font-size: 32px;
                    font-weight: 700;
                    text-align: center;
                    color: #003D66;

                    span {
                        font-weight: 200;
                    }
                }

                p {
                    font-size: 16px;
                    text-align: center;
                    font-weight: 300;
                }
            }

            .welcome-buttons {
                width: 20%;
                display: flex;
                flex-direction: column;
                gap: 12px;

                @media only screen and (max-width: 990px) {
                    width: 100%;
                }
            }

            .welcome-version {
                font-size: 12px;
                margin-top: 24px;
            }
        }
    }
}